################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2l/.vs/2l/v16/Server/sqlite3
